<div class="section width_100_percentage ">

	<div class="grid grid_12">
      <div class="grid grid_8 text_align_center_responsive">
          <div class="section height_0"></div>
        </div>
      <div class="grid grid_4">
        <!-- <img src="img/pics/355d5f_7f02bccfc5d042bc9d49264fd117e7a4.jpg" width="390" class="padding_top_30 responsive_image_fit" alt=""> -->
      </div>
    </div>

	<div class="grid grid_12 text_align_right text_align_center_responsive bg_grey">
	   <div id="instafeed"></div>
    <script type="text/javascript">
      var feed = new Instafeed({
          get: 'tagged',
          tagName: 'awesome',
          clientId: 'YOUR_CLIENT_ID'
      });
      feed.run();
  </script>
	</div>

</div>