<div class="section bg_white border_1_solid_grey">
  <div class="section padding_20 box_sizing_border_box bg_grey border_bottom_1_solid_grey text_align_left">
 <h4 class=""><strong>Send resume</strong></h4>
  </div>
  <div class="section padding_10 box_sizing_border_box">
 <div class="section">
  <div class="width_100_percentage width_80_percentage_responsive float_left">
      <table>
          <tbody><tr>
              <td><img class="margin_left_10" alt="" width="20" src="img/icons/icon-file-green.svg"></td>
              <td><span id="filenamefield" class="color_grey first_font font_size_12 margin_left_20">NO FILE CHOOSEN</span></td>
              <td  class="padding_10"><input id="upload-input" type="file" name="uploads[]" multiple="multiple" accept="image/*, .pdf, .doc, .docx, .odt, .wpd, .txt"></td>
          </tr>
      </tbody></table>
  </div>
  
 </div>
 <div class="section">
  <div class="width_100_percentage padding_10 box_sizing_border_box float_left">
   <button id="submit_btn" type="submit" class="bg_white_hover color_green_hover border_2_solid_green transition_all_03_ease display_inline_block text_align_center box_sizing_border_box width_100_percentage color_white bg_green first_font padding_10_20 border_radius_3 cursor_pointer">CHOSE A FILE</button>   
  </div>
 </div>
  </div>  
</div>