<div class="page">
        <div class="page-main">
          <!-- Only show navigation if user is logged in... -->

          <div class="container">

            <!-- This is where every component will load -->
            <div class="row">
  
  <div class="col col-login mx-auto">
    <div class="text-center mb-6" style="margin-top:10%">
  <a href="/"><img src="/assets/HUMVLogo-7adc36df9a4c421f9761b4681e5568b5a8092916764734185db0d94cd66f28c7.png" /></a>
</div>
    <form class="card" id="new_user" action="/signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="bfI2GZyf/RQkGEsx6zjY0ZXfKA9YfRACmibM8p3yLyEG3k4Pi8m8vl3B5XNIkx91f/XZRczviKcPlGxWNsR4VA==" />
      <div class="card-body p-6">
        <div class="card-title">Create new account</div>
        <div class="form-group">
          <label class="form-label">First name</label>
          <input placeholder="Enter First Name" autofocus="autofocus" class="form-control" type="text" name="user[first_name]" id="user_first_name" />
        </div>
        <div class="form-group">
          <label class="form-label">Last name</label>
          <input placeholder="Enter Last Name" class="form-control" type="text" name="user[last_name]" id="user_last_name" />
        </div>
        <div class="form-group">
          <label class="form-label">Email address</label>
          <input placeholder="Enter Email" class="form-control" type="email" value="" name="user[email]" id="user_email" />
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input placeholder="Password" autocomplete="off" class="form-control" type="password" name="user[password]" id="user_password" />
        </div>
        <div class="form-group">
          <label class="form-label">Confirm Password</label>
          <input placeholder="Confirm Password" autocomplete="off" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary btn-block">Create new account</button>
        </div>
      </div>
</form>    <div class="text-center text-muted">
        <a href="/login">Already have an account? Log in</a><br />




    </div>
  </div>
</div>

<!-- LEGACY CODE -->
<!--  <div class="col-lg-7 col-lg-offset-2" style="padding-top:60px">-->
<!--    <div class="panel panel-default">-->
<!--      <div class="panel-body">-->
<!--        <form class="form-horizontal">-->
<!--          <fieldset>-->
<!--            <center></center>-->
<!--            <hr>-->
<!--            <div class="form-group">-->
<!--              <label class="col-lg-2 control-label">First Name</label>-->
<!--              <div class="col-lg-10">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <label class="col-lg-2 control-label">Last Name</label>-->
<!--              <div class="col-lg-10">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <label class="col-lg-2 control-label">Email</label>-->
<!--              <div class="col-lg-10">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <label class="col-lg-2 control-label">Password</label>-->
<!--              <div class="col-lg-10">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <label class="col-lg-2 control-label">Confirm</label>-->
<!--              <div class="col-lg-10">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <div class="col-lg-10 col-lg-offset-2" style="padding-top: 5%;margin-bottom: 10px" >-->
<!--              </div>-->
<!--            </div>-->

<!--            <br>-->
<!--          </fieldset>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

          </div>
    </div>
  </div>

  </body>